body{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #BFF6C3;
    margin-top: 50px;
}
canvas{
    border: 1px solid black;
    background-color: blanchedalmond;
    
}

#diceNumber{
    margin-top: 50%;
}

#container p{
    font-weight: bold;
}

#bold{
    font-weight: bolder;
}